# Contents of /etc/systemd/system/control.service
[Unit]
Description=Energy Management - Control service by turvas
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/opt/metering/control.py

[Install]
WantedBy=multi-user.target
