.menu_hor {
  background-color: lightblue;
}

.w3-border {
    border-top-color: rgb(50, 54, 56) !important;
    border-right-color: rgb(50, 54, 56) !important;
    border-bottom-color: rgb(50, 54, 56) !important;
    border-left-color: rgb(50, 54, 56) !important;
}

#menu {
  text-align: center;
  color: red;
}

#navigation {
    background-color: lightblue;

}