
{% block content %}
  <p class="important">
    Choose logs for
    <form method="post">
        <select id="date" name="date">
            {% for item in dates %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select">
    </form>
{% endblock %}
