{% extends "webapp-index.tmpl" %}
{% block title %}Control Log{% endblock %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}

{% block content %}
  {{ super() }}
  <h1>Contro Log</h1>
  <p class="important">
    Choose logs for
    <form method="post">
        <select id="date" name="date">
            {% for item in dates %}
                <option value="{{ item }}">{{ item }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Select">
    </form>
{% endblock %}
